body.front #zone-content .tabs, body.front #zone-content .block-system-main {
  display: none;
}

body.front #zone-content-wrapper {
  background-color: grey;
}

body.front .clearfix .foot1{
  font-size:10px;
  color:white;
}

body.front .clearfix .foot1 .foot-menu{
   color:white;
}

body.front .text-align-center{
   color:white;
}

#block-nice-menus-1 {
  right: 100px;
}

#block-locale-language {
  position: absolute;
  right: 0;
  top: 10px;
}

#block-locale-language ul.language-switcher-locale-url li {
  display: inline-block;
  margin-right: 10px;
}

/*  overwrite  */
ul li{
  list-style: none !important;
}

.foot1{
  text-decoration: none !important; 
}

.foot1 p a{
  color: #fff !important; 
  width: 28px !important; 
  display: block !important; 
  text-decoration: underline !important; 
}

.progressbar-title {
  color: #fff  !important; 
}
